#img1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width:33%;

}

#link{

    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#heading2{

text-align: center;

}

#input{

    text-align: center;
}

#copyright{

    text-align: center;
}