
#heading{

    text-align: center;
}



#img2{
padding-left: 200px;
}

#img4{

    padding-right: 10px;
}
    
#lets{

    text-align: center;
    padding-top: 20px;
}

#copyright{

    text-align: center;
}

#img1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width:33%;

}

#link{

    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}
